#about {
    min-width: 500px;

    padding: 0 20% 0 25%;
    margin: auto;

    background: linear-gradient(16deg, rgba(0,0,0,.9) 43%, rgba(0,0,0,.05) 43%);
}

#about a {

    text-decoration: none;

    border: none;

    color: black;
    background-image: linear-gradient(120deg, #000000 0%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 100% .1em;
    background-position: 0 88%;

    transition: background-size 0.25s ease-in, color 0.25s ease-in;
}

#about a:hover {
    color: white;
    background-size: 100% 88%;
    background-color: transparent;
}