.slide-in.animation {
    -webkit-animation: slide-in 1s;
    animation: slide-in 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}