.three-d {
    text-transform: uppercase;
    font-size: 72px;
    font-family: 'Verdana';
}

.three-d.animation {
    animation: three-d-effects 2s steps(60) 0.3s 1 normal both;
}

@keyframes three-d-effects {
    0% {
        text-shadow: rgba(227, 6, 19, 0.8) -4.45px -4.04375px, rgb(255, 237, 0) -5.5625px -5.39167px, rgba(0, 159, 227, 0.7) -4.62143px -3.70833px;
    }
    25% {
        text-shadow: rgba(227, 6, 19, 0.8) -4.05px 3.81875px, rgb(255, 237, 0) -5.0625px 5.09167px, rgba(0, 159, 227, 0.7) 4.36429px -3.375px;
    }
    50% {
        text-shadow: rgba(227, 6, 19, 0.8) 3.95px 5.55625px, rgb(255, 237, 0) 4.9375px 7.40833px, rgba(0, 159, 227, 0.7) 6.35px 3.29167px;
    }
    75% {
        text-shadow: rgba(227, 6, 19, 0.8) 4.05px -3.44375px, rgb(255, 237, 0) 5.0625px -4.59167px, rgba(0, 159, 227, 0.7) -3.93571px 3.375px;
    }
    100% {
        text-shadow: none;
    }
}