.line-1{
    padding: 0 0 0 10px;
    margin-top: 35px;
    border-right: 2px solid rgba(0,0,0,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter.animation{
    animation: typewriter 1s steps(8) 0.3s 1 normal both,
    blinkCursor 1s steps(10) infinite normal;
}

@keyframes typewriter{
    from { width: 0; }
    to { width: 4em; }
}

@keyframes blinkCursor{
    from { border-right-color: rgba(0,0,0,.9); }
    to { border-right-color: transparent; }
}