* {/* reset purpose */
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font: 14px 'Inconsolata', monospace, 'Roboto', sans-serif;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    margin: 0;
    padding: 0 50px 0 50px;
}

section h2 {
    padding: 35px 0 0 0;
    margin: 0;
}

a {
    color: black;
    border-bottom: 1px dashed #00B7FF;
    text-decoration: none;
}

a:hover {
    border: none;
    background-color: #009dda;
    color: white;
    transition: background-color 0.1s ease;
}

p {
    padding: 10px;
}

.black-border {
    background-color: black;
    height: 1px;
}

.hidden {
    visibility: hidden;
}

.animation {
    visibility: visible;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}